<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add new book</h1>
	
	<form method="post" action="#" th:action="@{/savebook}" th:object=${book}>
		<label for="title">Title</label><br>
		 <input type="text" th:field="${book.title}" /><br>
		<label for="author">Author</label><br>
		 <input type="text" th:field="${book.author}" /><br>
		<label for="year">Year</label><br>
		 <input type="number" th:field="${book.year}" /><br>
		<label for="isbn">ISBN</label><br>
		 <input type="text" th:field="${book.isbn}" /><br>
		<label for="price">Price</label><br>
		 <input type="text" th:field="${book.price}" /><br>
		
		<label for="catlist">Category</label><br>
		 <select id="catlist" th:field="*{category}" class="form-control">
		 	<option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
		 </select>
		 
		 <div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
	
	<p><a href="/booklist">Back to book listing</a></p>
	
</body>
</html>