<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit book</h1>
	
	<form method="post" action="#" th:action="@{/update/{id}(id=${book.id})}" th:object=${book}>
		<input type="hidden" value="${book.id}" />
		<p>Title: <input type="text" th:field="${book.title}" th:placeholder="${book.title}" /></p>
		<p>Author: <input type="text" th:field="${book.author}" /></p>
		<p>Year: <input type="number" th:field="${book.year}" /></p>
		<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
		<p>Price: <input type="text" th:field="${book.price}" /></p>
		<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
	
	<p><a href="/booklist">Back to book listing</a></p>
	
</body>
</html>