<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit book</h1>
	
	<form method="post" action="#" th:action="@{/update/{id}}" th:object=${book}>
		<input type="hidden" th:field="*{id}" class="form-control" />
		
		<label for="title">Title</label><br>
		 <input type="text" th:field="*{title}" /><br>
		<label for="author">Author</label><br>
		 <input type="text" th:field="*{author}" /><br>
		<label for="year">Year</label><br>
		 <input type="number" th:field="*{year}" /><br>
		<label for="isbn">ISBN</label><br>
		 <input type="text" th:field="*{isbn}" /><br>
		<label for="price">Price</label><br>
		 <input type="text" th:field="*{price}" /><br>
		
		<label for="catlist">Category</label><br>
		 <select id="catlist" th:field="${book.category}" class="form-control">
		 	<option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
		 </select>
		
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
	
	<p><a href="/booklist">Back to book listing</a></p>
	
</body>
</html>